/* ✅ All @import at the very top */
@import "tailwindcss";

/* Now continue with theme & layers */
@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-card: hsl(var(--card));

  --color-orange: hsl(var(--orange));
  --color-success: hsl(var(--success));
  --color-accent: hsl(var(--accent));
  --color-darkvoilet: hsl(var(--darkvoilet));
}

@layer base {
  :root {
    --background: 48 16% 94%;
    --foreground: 249 14% 20%;

    --card: 0 0% 100%;

    --primary: 177 65% 38%;
    --primary-foreground: 0 0% 100%;

    --border: 220 13% 91%;

    --success: 158 64% 52%;
    --accent: 248 63% 45%;
    --orange: 2 90% 68%;
    --darkvoilet: 295,50%,11%;
  }


  * {
    @apply border-border;
  }

  html {
    font-family: 'Poppins', sans-serif;
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  /* Hide scrollbar for all browsers */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    /* IE & Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >=640px) {
    max-width: 640px;
  }

  @media (width >=768px) {
    max-width: 768px;
  }

  @media (width >=1024px) {
    max-width: 1024px;
  }

  @media (width >=1280px) {
    max-width: 1280px;
  }

  @media (width >=1400px) {
    max-width: 1400px;
  }
}

@utility text-glow {
  @apply relative;
  text-shadow: 0 0 10px rgba(167, 130, 250, 0.5);
}

@utility card-hover {
  @apply transition-transform duration-300 hover:scale-[1.02] hover:shadow-lg;
}

@utility gradient-border {
  @apply relative rounded-md;
  background: linear-gradient(to right, hsl(var(--success)), hsl(var(--accent)));
  background-clip: padding-box;
  border: 1px solid transparent;
}

@utility solid-button {
  @apply cursor-pointer px-6 py-2 rounded-full bg-orange text-primary-foreground font-medium capitalize transition-all duration-300 hover:scale-105 active:scale-95;
}

@utility outlined-button {
  @apply cursor-pointer px-6 py-2 rounded-full bg-primary/20 text-primary font-medium capitalize transition-all duration-300 hover:scale-105 active:scale-95;
}

@utility input-field {
  @apply w-full py-2 px-4 border-2 border-foreground/60 hover:border-foreground/90 rounded-md focus:outline-0;
}